<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bad Extenstion! | Sweeple AI</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='assets/images/favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/magnific-popup.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/slick.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/LineIcons.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/default.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/style.css') }}"> 
</head>
<body>
    <div class="carousel-inner">
        <div>
            <div class="slider-content">
                <h1 class="title" style="text-align: center;">Uh oh!<span style="font-size: 2rem; font-weight: 400; display: block;">We only accept video (.mp4) files, silly!</span><span<a class="main-btn rounded-one" href="{{ url_for('index') }}">Back to Home?</a></span></h1>
            </div>
        </div> 
    </div>
</body>
</html>